body{
  background-image: url('/res/table.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: sticky;
  background-attachment: fixed;
  background-repeat: no-repeat;
  // background: rgb(37,80,39);
  // background: radial-gradient(circle, rgba(37,80,39,1) 0%, rgb(41, 109, 44) 0%, rgba(32,73,34,1) 77%);
  // background: rgb(74,9,9);
  // background: radial-gradient(circle, rgba(74,9,9,1) 0%, rgba(98,24,24,1) 28%, rgba(119,38,38,1) 53%, rgba(98,24,24,1) 73%, rgba(74,9,9,1) 100%); 
}
.main{
  display:grid;
  grid-auto-columns: auto;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap:2rem;
  max-width:100vw;
  max-height:100vh;
  height:auto;
  width: -moz-fit-content;
  width: fit-content;
  margin:auto;
}
.card{
  width:16rem;
  min-width: auto;
  height:20rem;
  perspective:1000px;
  background: transparent;
  margin-bottom:2rem;
}
.face{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card:active .face{
  transform: rotateY(180deg);
}
.flip_up, .flip_down {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip_up {
  // background-image: url('/res/facedown.png');
  // background-size: auto;
  // background-position: sticky;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: auto;
  background-color: transparent;
  color: black;
}

.flip_down {
  background: transparent;
  color: white;
  transform: rotateY(180deg);
  display:grid;
  place-items: center;
  .card_content{
    top:-3px;
    left:-10px;
    width:16rem;
    height:20rem;
    padding:1rem;
    background: white;
    border-radius: 6px;
    display:grid;
    place-items:center;
    box-shadow: rgb(204, 219, 232) 6px 6px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
}

.title{
  background: rgb(76,77,76);
  background: linear-gradient(90deg, rgba(76,77,76,0) 0%, rgba(136,163,138,0.44859950816264005) 53%, rgba(66,73,66,0) 100%); 
  height:6rem;
  font-size:3.5rem;
  color:rgba(255, 255, 255, 0.664);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top:20px;
  letter-spacing: 1rem;
}

nav{
  display:grid;
  place-items: center;
  height:3rem;
  font-size: 32px;
  margin:2rem;
}
h4{
  padding:0;
  margin:1rem;
  text-align: center;
  font-size:1.4rem;
  color:rgba(255, 255, 255, 0.781);
}
p{
  color:black;
  font-size: 1.3rem;
  font-weight:bold;
}